<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
  <h4>Edit Workout Info:</h4>
  <%= form_for @workout do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit "Submit Changes", class: "button tiny round" %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
  </div>
</div>


<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <h4>Exercises for <%= @workout.name %></h4>
    <% unless @exercises.empty? %>
    <table class="full-width">
        <thead>
          <tr>
            <th>Edit</th>
            <th>Delete</th>
            <th><Activity>Exercises</Activity></th>
          </tr>
        </thead>
        <% @exercises.each do |exercise| %>
          <tr>
            <td class="fa-edit">
              <%= link_to fa_icon("pencil"), edit_workout_exercise_path(@workout, exercise), alt: "Edit exercise" %>
            </td>
            <td class="fa-edit">
              <%= link_to  fa_icon("times"),  workout_exercise_path(@workout, exercise),  method: :delete, alt: "Delete exercise", data: { confirm: 'Are you sure you want to delete this exercise?' } %>
            </td>
            <td>
              <div class="exercise-type"><%= exercise.activity %></div>
              <div class="exercise-intensity"><%= exercise.intensity %></div>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <p>Add to your workout by following this example:</p>
    <table class="example-table full-width">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Intensity</th>
        </tr>
      </thead>
      <tr>
        <td>30 seconds of planking</td>
        <td>4 times with 30 second breaks</td>
      </tr>
    </table>
    <div class="new-review container">
      <%= form_for [ @workout, @exercise ] do |f| %>
        <%= f.label "Activity" %>
        <%= f.text_field :activity %>

        <%= f.label "Intensity" %>
        <%= f.text_field :intensity %>

        <%= f.submit "Add to workout", class: "button tiny round" %>
      <% end %>
    </div>
  </div>
</div>
