<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
  <h4>Edit Workout Info
  <% if current_user.role == 'trainer' %>
    for <%= @workout.user.fullname %>
  <% end %>
  :</h4>
  <%= form_for @workout do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit "Submit Changes", class: "button tiny round" %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
  </div>
</div>


<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <h4>Exercises for <%= @workout.name %></h4>
    <table class="full-width exercises-table-edit-page <%= @workout.visible_table? %>" id="" style="table-layout:fixed;">
      <thead>
        <tr>
          <th class="width-icons"></th>
          <th class="width-icons"></th>
          <th><Activity>Exercises</Activity></th>
        </tr>
      </thead>
      <tbody class='exercises-table-list'>
        <% unless @workout.exercises.empty? %>
          <% @workout.exercises.each do |exercise| %>
            <tr>
              <td class="icon-edit width-icons">
                <%= link_to fa_icon("pencil"), edit_workout_exercise_path(@workout, exercise), class: "edit-icon" %>
              </td>
              <td class="icon-edit delete-icon-td width-icons">
                <%= link_to  fa_icon("times"),  workout_exercise_path(@workout, exercise),  method: :delete, class: 'delete-icon', data: { confirm: 'Are you sure you want to delete this exercise?' } %>
              </td>
              <td>
                <div class="exercise-type"><%= exercise.activity %></div>
                <div class="exercise-intensity"><%= exercise.intensity %></div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <p>Add to your workout by following this example:</p>
    <table class="example-table full-width" style="table-layout:fixed;">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Intensity</th>
        </tr>
      </thead>
      <tr>
        <td>30 seconds of planking</td>
        <td>4 times with 30 second breaks</td>
      </tr>
    </table>
    <div class="new-exercise container" id="new-exercise">
      <%= form_for [ @workout, @exercise ] do |f| %>
        <%= f.label "Activity" %>
        <%= f.text_field :activity %>

        <%= f.label "Intensity" %>
        <%= f.text_field :intensity %>

        <%= f.submit "Add to workout", class: "button tiny round submit-new-exercise" %>
      <% end %>
    </div>
  </div>
</div>
