<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <h1><%= @workout.name %></h1>
    <% if current_user.role == 'trainer' %>
      <p>Workout for: <%= @workout.user.fullname %></p>
    <% end %>
    <p><%= @workout.description %></p>
  </div>
</div>

<% if @exercises.empty? %>
  <div class="row">
    <div class="medium-8 medium-offset-2 custom-container container">
      <p>
        You do not have any exercises for this workout. Add exercises
        <%= link_to "here!", edit_workout_path(@workout) %>
      </p>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="medium-8 medium-offset-2 custom-container container">
      <table  class="full-width">
        <thead>
          <tr>
            <th><Activity>Exercises</Activity></th>
          </tr>
        </thead>
        <% @exercises.each do |exercise| %>
          <tr>
            <td>
              <div class="exercise-type"><%= exercise.activity %></div>
              <div class="exercise-intensity"><%= exercise.intensity %></div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="submit-exercise">
    <p>Mark as completed:</p>
    <%= link_to fa_stacked_icon("check", base: 'star'), completeds_path(workout_id: @workout, workout_name: @workout.name), method: :post, class: 'submit-completed' %>
  </div>
<% end %>
