<div class='padding-fifteen'>
  <h1>Completed Workouts</h1>
  <div class='status-container full-width'>
    <% if @workouts_for_bar <= 25 %>
      <% @workouts_for_bar.times do %>
        <div class="workout-status status-boxes"></div>
      <% end %>
      <div class="non-workout-status status-boxes status-index">
        <%= @percent_done %>%
      </div>
      <% (@non_workouts - 1).times do %>
        <div class="non-workout-status status-boxes"></div>
      <% end %>
    <% else %>
      <div class="workout-status status-boxes status-index">
        <%= @percent_done %>%
      </div>
      <% (@workouts_for_bar-1).times do %>
        <div class="workout-status status-boxes"></div>
      <% end %>
      <% unless @non_workouts == 0 %>
        <% @non_workouts.times do %>
          <div class="non-workout-status status-boxes"></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br />
  <% if @completeds.empty? %>
    <p>You have not completed any workouts in the last 30 days. <%= link_to "Click here", new_workout_path %>
      to pick a workout to complete!</p>
  <% else %>
  (last 30 days only)
    <table class="full-width">
      <thead>
        <tr>
          <th>Workout</th>
          <th>Date completed</th>
        </tr>
      </thead>
      <% @completeds.each do |completed| %>
        <tr>
          <% if Workout.where(id: completed.workout_id).empty? %>
            <td><%= completed.workout_name %></td>
          <% else %>
            <td><%= link_to completed.workout_name, workout_path(completed.workout_id) %></td>
          <% end %>
          <td><%= completed.created_at.strftime("%b %d") %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
