<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <p>Add to your workout by following this example:</p>
    <table class="example-table">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Intensity</th>
        </tr>
      </thead>
      <tr>
        <td>30 seconds of planking</td>
        <td>4 times with 30 second breaks</td>
      </tr>
    </table>
    <div class="new-review container">
      <%= form_for [ @workout, @exercise ] do |f| %>
        <%= f.label "activity" %>
        <%= f.text_field :activity %>

        <%= f.label "intensity" %>
        <%= f.text_field :intensity %>

        <%= f.submit "Add to workout" %>
      <% end %>
    </div>
  </div>
</div>
