<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <h1><%= @user.fullname %></h1>
    <p class='break-word'><%= @user.email %></p>
  </div>
</div>


<h3>Completed Workouts</h3>
<div class='status-container full-width'>
  <% if @workouts_for_bar <= 25 %>
    <% @workouts_for_bar.times do %>
      <div class="workout-status status-boxes"></div>
    <% end %>
    <div class="non-workout-status status-boxes status-index">
      <%= @percent_done %>%
    </div>
    <% @non_workouts.times do %>
      <div class="non-workout-status status-boxes"></div>
    <% end %>
  <% else %>
    <div class="workout-status status-boxes status-index">
      <%= @percent_done %>%
    </div>
    <% (@workouts_for_bar-1).times do %>
      <div class="workout-status status-boxes"></div>
    <% end %>
    <% unless @non_workouts == 0 %>
      <% @non_workouts.times do %>
        <div class="non-workout-status status-boxes"></div>
      <% end %>
    <% end %>
  <% end %>
</div>
<br />
<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <% if @completeds.empty? %>
        <p>
          <%= @user.fullname %> has not completed any workouts in the last 30 days.
        </p>

    <% else %>
      <table class="full-width">
        <thead>
          <tr>
            <th>Workout</th>
            <th>Date completed</th>
          </tr>
        </thead>
        <% @completeds.each do |completed| %>
          <tr>
            <% if Workout.where(id: completed.workout_id).empty? %>
              <td><%= completed.workout_name %></td>
            <% else %>
              <td><%= link_to completed.workout_name, workout_path(completed.workout_id) %></td>
            <% end %>
            <td><%= completed.created_at.strftime("%b %d") %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<h3>All Workouts</h3>
<% if @workouts.empty? %>
  <div class="row">
    <div class="medium-8 medium-offset-2 custom-container container">
      <p>
        This user does not have any workouts.
      </p>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="medium-8 medium-offset-2 custom-container container">
      <table  class="full-width">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <% @workouts.each do |workout| %>
          <tr>
            <td>
              <div><%= link_to "#{workout.name}", workout_path(workout) %></div>
            </td>
            <td>
              <div><%= workout.description %></div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<%= paginate @workouts %>
<% end %>
