<div class="row">
  <div class="medium-8 medium-offset-2 custom-container container">
    <h1><%= @user.fullname %></h1>
    <p><%= @user.email %></p>
  </div>
</div>

<% if @workouts.empty? %>
  <div class="row">
    <div class="medium-8 medium-offset-2 custom-container container">
      <p>
        This user does not have any workouts.
      </p>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="medium-8 medium-offset-2 custom-container container">
      <table  class="full-width">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <% @workouts.each do |workout| %>
          <tr>
            <td>
              <div><%= workout.name %></div>
              <div><%= workout.description %></div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<%= paginate @workouts %>
<% end %>
