<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Workoutbuddy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

</head>
<body id="page" class="off-canvas paneled">
  <div class="container">
    <header id="header" class="row">
		  <div class="eight columns">
	    <h1 id="site-title"><%= link_to "WorkoutPartner", root_path %></h1>
      <%= render "layouts/flash" %>
      <%= render "layouts/small_nav_bar" %>
      <%= render "layouts/not_small_nav_bar" %>
		  </div>
		</header>

    <div class="row">
      <div class="eight columns">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </div>
</body>
</html>
